'scopeName': 'source.asm.arm'
'fileTypes': [
  'asm'
  'ASM'
  's'
  'S'
]
'name': 'ARM Assembly'
'patterns': [
  {
    'match': '[@;].*$'
    'name': 'comment.line'
  }
  {
    'begin': '^\\s*[\\#%]\\s*if\\s+0\\b'
    'end': '^\\s*[\\#%]\\s*endif\\b'
    'name': 'comment.preprocessor'
  }
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block'
  }
  {
    'match': '(?i)\\b(?i)(dword|qword|tword|db|dw|dd|dq|dt|do|dy|resb|resw|resd|resq|rest|reso|resy|incbin|equ|times)(?-i)\\b'
    'name': 'support.type.asm'
  }
  {
    'match': '\\.((|ro)data|bss|text)$'
    'name': 'string.section'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.asm'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.asm'
    'name': 'string.quoted.asm'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
      {
        'include': '#string_placeholder'
      }
    ]
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.c'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.c'
    'name': 'string.quoted.single.c'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
    ]
  }
  {
    'begin': '^\\s*[#%]\\s*(error|warning)\\b'
    'captures':
      '1':
        'name': 'keyword.control.import.error.c'
    'end': '$'
    'name': 'meta.preprocessor.diagnostic.c'
    'patterns': [
      {
        'match': '(?>\\\\\\s*\\n)'
        'name': 'punctuation.separator.continuation.c'
      }
    ]
  }
  {
    'begin': '^\\s*[#%]\\s*(include|import)\\b\\s+'
    'captures':
      '1':
        'name': 'keyword.control.import.include.c'
    'end': '(?=(?://|/\\*))|$'
    'name': 'meta.preprocessor.c.include'
    'patterns': [
      {
        'match': '(?>\\\\\\s*\\n)'
        'name': 'punctuation.separator.continuation.c'
      }
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.c'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.c'
        'name': 'string.quoted.double.include.c'
      }
      {
        'begin': '<'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.c'
        'end': '>'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.c'
        'name': 'string.quoted.other.lt-gt.include.c'
      }
    ]
  }
  {
    'begin': '^\\s*[%#]\\s*(?i)(define|defined|elif|else|if(|c|(|n(|ot))def|eq(|t)|ge|gt|le|lt|n(c|e(|s)))|line|pragma|undef|endif)(?-i)\\b'
    'captures':
      '1':
        'name': 'keyword.control.import.c'
    'end': '(?=(?://|/\\*))|$'
    'name': 'meta.preprocessor.c'
    'patterns': [
      {
        'match': '(?>\\\\\\s*\\n)'
        'name': 'punctuation.separator.continuation.c'
      }
    ]
  }
  {
    'match': '\\b(?i)(it(|eq|ne|cs|cc|mi|pl|vs|vc|hi|ls|ge|lt|gt|le|al(|eq|ne|cs|cc|mi|pl|vs|vc|hi|ls|ge|lt|gt|le|al(|eq|ne|cs|cc|mi|pl|vs|vc|hi|ls|ge|lt|gt|le|al)))|(mrs|adc(|s)|add(|s)|adr|and(|s)|asr(|s)|b|bfc|bfi|bic(|s)|bl|blx|bx|cb(|n)z|cdp|cdp2|clrex|clz|cmn|cmp|cpy|dbg|dmb|dsb|eor(|s)|isb|ldc(|l)|ldc2(|l)|ldm|ldmdb|ldmea|ldr(|b(|t)|d|ex(|b|h)|h(|t)|s(|b(|t)|h(|t))|t)|lsl(|s)|lsr(|s)|mcr(|r)(|2)|mla|mls|mov(|s|t)|mrc(|2)|mrrc(|2)|mrs|msr|mul(|s)|mvn(|s)|neg|nop|orn(|s)|orr(|s)|pld|pli|pop|push|rbit|rev(|16|sh)|ror(|s)|rrx(|s)|rsb|sbc(|s)|sbfx|sdiv|sev|smlal|smull|ssat|stc(|2)(|l)|stm(|ia|ea)|str(|b(|t)|d|ex(|b|h)|h(|t)|s(|b(|t)|h(|t))|t)|sub(|s)|svc|sxt(b|h)|tbb|tbh|teq|tst|ubfx|udiv|umlal|umull|usat|uxtb|uxth|wfe|wfi|yield|(|eq|ne|cs|cc|mi|pl|vs|vc|hi|ls|ge|lt|gt|le|al))|cb(|n)z|bkpt|cps(ie|id)|rsbs)+(?-i)\\b'
    'name': 'keyword.mnemonic'
  }
  {
    'match': '\\b%?(?i)(r(0|1(|0|1|2|3|4|5)|2|3|4|5|6|7|8|9)|sp|lr|pc)+(?-i)\\b'
    'name': 'storage.register'
  }
  {
    'match': '^\\s*\\.?\\w+:\\s*(?=$|;)'
    'name': 'entity.name.label'
  }
  {
    'match': '\\$(0x[0-9a-fA-F]+|0b[01]+|0o[0-7]+)\\b'
    'name': 'constant.numeric.literal'
  }
  {
    'match': '\\b[0-9]+\\b'
    'name': 'constant.numeric.dec'
  }
  {
    'match': '\\b([0-9a-fA-F]+h?|0x[0-9a-fA-F]+)\\b'
    'name': 'constant.numeric.hex'
  }
  {
    'match': '^global|\\.(?i)(align|ascii|asciz|byte|comm|data|double|eject|else|endef|endif|equ|equiv|err|extern|file|fill|float|globl|global|hword|ident|if(|c|(|n(|ot))def|eq(|t)|ge|gt|le|lt|n(c|e(|s)))|include|line|linkonce|list|long|macro|mri|nolist|octa|org|psize|quad|rept|section|set|short|single|size|skip|space|string|tag|type|val|word)(?-i)\\b'
    'name': 'entity.directive'
  }
  {
      'match': '\\+|-|\\*|/|&|\\||\\^|~|%|!|<<|>>'
      'name': 'keyword.operator.artihmetic'
  }
]
